a:focus {
    outline: none;
}
.sj-videobox{
	margin: 20px 0;
}
.sj-videobox .intro_text,
.sj-videobox .footer_text{
	margin: 15px 0;
}
.sj-videobox .sj-video-list .sj-video-list-item{
	width: 100%;
	display: inline-block;
	padding: 20px 0;
	border-bottom: 1px solid #cccccc;
}
.sj-videobox .sj-video-list.style2{
	display: inline-block;
	width: 100%;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover,
.sj-videobox .sj-video-list .sj-video-list-item.selected{
	color: #0062A6;
}
.sj-videobox .sj-video-list.style2 .sj-video-list-item{
	border-bottom: none;
	float: left;
	overflow: hidden;
}
.sj-videobox .sj-video-list.style2 .item.column1 .sj-video-list-item{
	width: 100%;
	margin-left: 0;
}
.sj-videobox .sj-video-list.style2 .item.column2 .sj-video-list-item{
	width: 49%;
	margin-left: 2%;
}
.sj-videobox .sj-video-list.style2 .item.column3 .sj-video-list-item{
	width: 32%;
	margin-left: 2%;
}
.sj-videobox .sj-video-list.style2 .item.column4 .sj-video-list-item{
	width: 23.5%;
	margin-left: 2%;
}
.sj-videobox .sj-video-list.style2 .item.column5 .sj-video-list-item{
	width: 18.4%;
	margin-left: 2%;
}
.sj-videobox .sj-video-list.style2 .item.column6 .sj-video-list-item{
	width: 15%;
	margin-left: 2%;
}
.sj-videobox .sj-video-list.style2 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column1 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column2 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column3 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column4 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column5 .sj-video-list-item.first,
.sj-videobox .sj-video-list.style2 .item.column6 .sj-video-list-item.first{
	margin-left: 0;
}
.sj-videobox .sj-video-list .sj-video-list-item .sj-video-image{
	display: inline-block;
	float: left;
	margin-right:20px;
	overflow: hidden;
	margin-bottom: 15px;
	position: relative;
}

.sj-videobox .sj-video-list.style2 .sj-video-list-item .sj-video-image{
	margin: 0;	
	margin-bottom: 10px;
	width: 100%;
}

.sj-videobox .sj-video-list .sj-video-list-item .sj-video-image:hover{
	cursor: pointer;
}
.sj-videobox .sj-video-list .sj-video-list-item .sj-video-image> img{
	width: 100%;
	max-width: auto;
}
.sj-videobox .sj-video-list .sj-video-list-item .sj-video-title{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
}
.sj-videobox .sj-video-list .sj-video-list-item .sj-video-title:hover{
	text-decoration: underline;
	cursor: pointer;
}
.sj-videobox .sj-video-list .sj-video-list-item .sj-video-des{
	line-height: 180%;
	font-size: 14px;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image .bg-hover,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image .bg-hover{
    background: none repeat scroll 0 0 #000000;
    border-radius: 4px 4px 4px 4px;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -35px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 70px;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image .bg-hover:after,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image .bg-hover:after{
    border-color: transparent transparent transparent #FFFFFF;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: 50%;
    margin: -14px 0 0 -3px;
    position: absolute;
    top: 50%;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image{
	background: #000;
}
.sj-videobox .sj-video-list .sj-video-list-item:hover .sj-video-image > img,
.sj-videobox .sj-video-list .sj-video-list-item.selected .sj-video-image > img{
	opacity:0.6;
}
/*-----------------------------------------Carousel style----------------------------------------*/
.carousel {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
   margin-bottom: 15px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
	left: 0;
/* 	display: inline-block; */
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  bottom: 0;
  top:auto;
  left: auto;
  right:27px;
  width: 23px;
  height: 23px;
  margin-top: -20px;
  font-size: 28px;
  font-weight: 100;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration: none !important;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.sj-videobox .sj-video-control{
	height: 23px;
}
