/* ******************************
***********Reset css*********** */
/*font-family:"Fjalla One",serif;*/
/* //////////////////////////// */
body { 
	color: #666;
	/*font-family: "Arial Narrow",Arial,sans-serif;	*/
	font-family:"Questrial",serif; 
	font-stretch: condensed;
	font-size: 14px;
	line-height: 150%;
	background:#f7f7f7;
	margin: 0;
}
a {
	color: #84ABD8;
	text-decoration: none;
}
img{border: none; max-width:100%; height:auto; vertical-align:middle;}
h1 {font-size: 200%;}
h2 {font-size: 180%;}
h3 {font-size: 160%;}
h4 {font-size: 140%; font-weight: normal}
h5 {font-size: 120%;}
h6 {font-size: 100%;}

.wrap-inner {
	width: 815px;
	margin: 0 auto;
	display:block;
	text-align:center;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	max-width: 100%;
}
.header {
	padding: 0 0 10px 10px;
}
.contener {
    display: block;
	position:relative;
	margin: 82px 10px 30px;
}
.block-left {
	/*display: table-cell;*/
	display:inline-block;	
	width: 30%;
	float:left;
	vertical-align: top;
}

.logo {display: block;}
.logo > a{margin-left: 0;}

.block-main {
	vertical-align: top;
	/*display: table-cell;*/
	display:inline-block;
	width:70%;
	float:left;
	text-align:left;
}
.block-main .block-inner{
	margin-left:12%;
}

.block-main ul {
	padding:  0px;
	margin: 20px 0 0;
	list-style: none;
}
.block-main ul li strong{font-weight:100;}
.block-main ul li span{
	background:#6AA800;
	display:inline-block;
	color:#fff;
	margin-right:10px;
	text-align:center;
	width:20px;
	height:20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.second-block {  margin-top: 10px;overflow: hidden;}
p.title{font-size:18px; margin:5px 0 0px;}

.firts-block{margin-left: -320px;}

.mess-code {
 	margin-top:30px;
	font-weight: normal;
	font-size: 214.28%;
	line-height: 100%;
	/*font-family:'segoe ui,serif';*/
}
.error-code {
    display:inline-block;
    position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:-1;
}

.error-code .erro-word{
	font-weight: 100;
	font-size:65%;
	letter-spacing: 2px;
	margin-right:20px;	
	float:left;
	line-height:55px;
}
.erro-key{
	font-size:3571.42%;
	line-height:25px;
	text-shadow:3px 3px 3px rgba(0,0,0,0.1);
	color:#fff;
}
h4{ font-weight:100;
	font-size:120%;
}
.block-main ul li{
	font-size:100%;
	margin:8px 0;
	text-transform:capitalize;
}
.block-main .second-block ul li{
	background:url(../images/home_404.png) no-repeat left top;
	padding-left:10px;
	line-height:18px;
}
.block-main .second-block ul li a{  text-decoration:none;}

a.home-page{ 
	position:relative; 
	background:#4b85c9;
	color:#ffffff;
	padding:20px 21px;
	font-size:128.57%;
	display:inline-block;
	margin:30px 0 40px;
	text-transform:uppercase;
}
a.home-page:after{
	border-color: #4b85c9 transparent transparent;
    border-style: solid;
    border-width: 16px 16px 0;
	border-left-width: 47px;
    border-right-width: 47px;
    bottom: -26%;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}

.second-block span{
	display:block;
}
#techinfo{ margin:10px 0;}

.lW { float: left; clear: left; height: 25px; }
.rW { float: right; clear: right; height: 25px; }
.btn:focus,button:focus{box-shadow:  0 0 5px rgba(0, 0, 0, 0.2) inset,1px 1px 1px rgba(0, 0, 0, 0.3);}

div.copy-right{
 padding:25px 15%;
 clear:both;
}
.copy-right a{ color:#84abd8;}
.copy-right a:hover{text-decoration:underline;}


/* Tablet portrait (768x1024) && Small tablet landscape (800x600) */
@media (min-width: 768px) and (max-width: 979px) {
	div.wrap-inner{width:100%;}
	.error-code{}
	.error-code .erro-key{ font-size:3294.42%;}

}
/* Small tablet portrait (600x800) & Mobile landscape (480x320) */
@media (max-width: 767px){
	div.wrap-inner{width:100%;}
	div.block-left,
	div.block-main{display: block;width:100%;}
	div.block-main{
		padding: 10px 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	div.block-main .logo{margin:30px 0 0 0;}
	div.firts-block{margin: 0;}
	div.second-block{margin: 0;}
	.lW { display: none;}
	.rW { display: none;}
	
	/*.error-code{ position:static;}*/
}