.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol {
  margin: 0 25px 10px 0;
}
.pull-right {
  float: left;
}
.pull-left {
  float: right;
}
.table th,
.table td {
  text-align: right;
}
.navbar .brand {
  float: right;
  padding: 8px 20px 12px;
  margin-right: -20px;
  margin-left: 0;
}
.navbar .nav,
.navbar .nav > li {
  float: left;
}
.navbar .nav.pull-right {
  margin-right: 10px;
  margin-left: 0px;
}
.pull-right > .dropdown-menu {
  left: 0;
  right: auto;
}
.row-fluid [class*="span"] {
  float: right;
  margin-right: 2.1276595744681%;
  *margin-right: 2.0744680851064%;
  margin-left: 0px;
  *margin-left: 0px;
}
.row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.row-fluid .offset12 {
  margin-right: 105.52486187845304%;
  *margin-right: 105.41847889972962%;
}
.row-fluid .offset12:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 102.76243093922652%;
  *margin-right: 102.6560479605031%;
}
.row-fluid .offset11 {
  margin-right: 96.96132596685082%;
  *margin-right: 96.8549429881274%;
}
.row-fluid .offset11:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 94.1988950276243%;
  *margin-right: 94.09251204890089%;
}
.row-fluid .offset10 {
  margin-right: 88.39779005524862%;
  *margin-right: 88.2914070765252%;
}
.row-fluid .offset10:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 85.6353591160221%;
  *margin-right: 85.52897613729868%;
}
.row-fluid .offset9 {
  margin-right: 79.8342541436464%;
  *margin-right: 79.72787116492299%;
}
.row-fluid .offset9:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 77.07182320441989%;
  *margin-right: 76.96544022569647%;
}
.row-fluid .offset8 {
  margin-right: 71.2707182320442%;
  *margin-right: 71.16433525332079%;
}
.row-fluid .offset8:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 68.50828729281768%;
  *margin-right: 68.40190431409427%;
}
.row-fluid .offset7 {
  margin-right: 62.70718232044199%;
  *margin-right: 62.600799341718584%;
}
.row-fluid .offset7:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 59.94475138121547%;
  *margin-right: 59.838368402492065%;
}
.row-fluid .offset6 {
  margin-right: 54.14364640883978%;
  *margin-right: 54.037263430116376%;
}
.row-fluid .offset6:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 51.38121546961326%;
  *margin-right: 51.27483249088986%;
}
.row-fluid .offset5 {
  margin-right: 45.58011049723757%;
  *margin-right: 45.47372751851417%;
}
.row-fluid .offset5:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 42.55567955801105%;
  *margin-right: 42.21129657928765%;
}
.row-fluid .offset4 {
  margin-right: 36.172136752137%;
  *margin-right: 36.105753773413%;
}
.row-fluid .offset4:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 34.055034188034%;
  *margin-right: 34.081651209311%;
}
.row-fluid .offset3 {
  margin-right: 27.659574468085%;
  *margin-right: 27.553191489362%;
}
.row-fluid .offset3:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 25.131914893617%;
  *margin-right: 25.425531914894%;
}
.row-fluid .offset2 {
  margin-right: 19.148936170213%;
  *margin-right: 19.042553191489%;
}
.row-fluid .offset2:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 16.521276595745%;
  *margin-right: 16.514893617021%;
}
.row-fluid .offset1 {
  margin-right: 10.23829787234%;
  *margin-right: 10.531914893617%;
}
.row-fluid .offset1:first-child {
  margin-left: 0px;
  *margin-left: 0px;
  margin-right: 8.0106382978723%;
  *margin-right: 8.0042553191489%;
}
@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    margin-right: 2.5641025641026%;
    *margin-right: 2.5109110747409%;
  }
  .row-fluid .offset12 {
    margin-right: 105.52486187845304%;
    *margin-right: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 102.76243093922652%;
    *margin-right: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-right: 96.96132596685082%;
    *margin-right: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 94.1988950276243%;
    *margin-right: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-right: 88.39779005524862%;
    *margin-right: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 85.6353591160221%;
    *margin-right: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-right: 79.8342541436464%;
    *margin-right: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 77.07182320441989%;
    *margin-right: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-right: 71.2707182320442%;
    *margin-right: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 68.50828729281768%;
    *margin-right: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-right: 62.70718232044199%;
    *margin-right: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 59.94475138121547%;
    *margin-right: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-right: 54.14364640883978%;
    *margin-right: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 51.38121546961326%;
    *margin-right: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-right: 45.58011049723757%;
    *margin-right: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 0px;
    *margin-left: 0px;
    margin-right: 42.5567955801105%;
    *margin-right: 42.51129657928765%;
  }
  .row-fluid .offset4 {
    margin-right: 36.752136752137%;
    *margin-right: 36.645753773413%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.188034188034%;
    *margin-right: 34.081651209311%;
  }
  .row-fluid .offset3 {
    margin-right: 28.205128205128%;
    *margin-right: 28.098745226405%;
  }
  .row-fluid .offset3:first-child {
    margin-right: 25.641025641026%;
    *margin-right: 25.534642662302%;
  }
  .row-fluid .offset2 {
    margin-right: 19.65811965811966%;
    *margin-right: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-right: 17.094017094017%;
    *margin-right: 16.987634115294%;
  }
  .row-fluid .offset1 {
    margin-right: 11.111111111111%;
    *margin-right: 11.004728132388%;
  }
  .row-fluid .offset1:first-child {
    margin-right: 8.5470085470085%;
    *margin-right: 8.440625568285142%;
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .row-fluid [class*="span"] {
    float: right;
    margin-right: 2.12766%;
    *margin-right: 2.0744680851064%;
    margin-left: 0px;
    *margin-left: 0px;
  }
  .row-fluid .offset4 {
    margin-right: 36.1702%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.0426%;
  }
  .row-fluid .offset3 {
    margin-right: 27.6596%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid [class*="span"] {
    float: right;
    margin-right: 2.12766%;
    *margin-right: 2.0744680851064%;
    margin-left: 0px;
    *margin-left: 0px;
  }
  .row-fluid .offset4 {
    margin-right: 27.6596%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 25.5319%;
  }
  .row-fluid .offset3 {
    margin-right: 27.6596%;
  }
}
.form-horizontal .control-label {
  float: right;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  *display: inline-block;
  *padding-right: 20px;
  margin-right: 160px;
  *margin-right: 0;
  margin-left: 0;
  text-align: right;
  margin-top: 6px;
}
.form-horizontal .controls:first-child {
  *padding-right: 160px;
}
.form-vertical .control-label {
  float: none;
  padding-right: 0;
  padding-top: 0;
  text-align: right;
  width: auto;
}
ul.nav-tabs.nav-stacked {
  padding: 0 20px 0 0;
  margin: 0 -8px 0 0;
}
.btn-group > .btn {
  float: right;
  margin-right: -1px;
  margin-left: 0;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.btn-group > .btn.large:first-child {
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  margin-right: 0;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topright: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
}
.btn-group > .btn:first-child:last-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.input-prepend .add-on {
  float: right;
}
.input-append .add-on {
  float: left;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-left: -1px;
  margin-right: 0;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append .uneditable-input {
  border-left-color: #ccc;
  border-right-color: #eee;
}
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-left: -1px;
  margin-right: 0px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  float: right;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-right: -1px;
  margin-left: 0px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
body {
  direction: rtl;
}
.pager .next a {
  float: left;
}
.pager .previous a {
  float: right;
}
.btn-group > .btn:first-child,
.radio.btn-group > label:first-of-type {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: right;
  margin-right: 2px;
  margin-left: 5px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: right;
}
.btn-group + .btn-group {
  margin-right: 5px;
  margin-left: 0px;
}
.tabs-left > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #DDD;
  margin-right: 0px;
  border-right: 0px;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #DDD #DDD #DDD transparent;
}
.tabs-left > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-right: 0px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 0px;
}
.btn-toolbar {
  margin-top: 14px;
  margin-bottom: 3px;
}
.navbar .nav > li {
  float: right;
}
.icon-folder-2 {
  line-height: 25px;
  padding-left: 5px;
}
.navbar .nav > li > a {
  padding: 9px 10px;
  color: #D2E3FC;
}
.container-logo {
  padding-top: 6px;
}
.modal-header .close {
  float: left;
}
.pagination a {
  float: right;
}
.pagination a {
  float: right;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-right-width: 0;
}
.pagination li:first-child a {
  border-right-width: 1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination li:last-child a {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.icon-first:before {
  content: "\e000";
}
.icon-previous:before {
  content: "\7d";
}
.icon-last:before {
  content: "\7b";
}
.icon-next:before {
  content: "\7c";
}
.dl-horizontal dt {
  float: right;
}
.profile> ul {
  margin: 9px 25px 0 0;
}
.dropdown-submenu > a:after {
  float: left;
  border-width: 5px 5px 5px 0;
  margin-left: -10px;
  border-left-color: transparent;
  border-right-color: #CCC;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl .backtotop i {
  margin: 8px 0 0;
}
.rtl .row-fluid .first {
  margin-right: 0;
}
.rtl .form-horizontal .control-label {
  text-align: right;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl #yt_header #yt_logoposition h1 {
  margin: 0 -7px 0 0;
  margin: 0px;
}
.rtl #yt_spotlight7 .row-fluid [class*="span"]:first-child {
  margin-right: 0 !important;
}
.rtl #yt_spotlight7 .row-fluid [class*="span"]:first-child div.module {
  margin-right: 0px;
}
.rtl #yt_spotlight7 .row-fluid [class*="span"]:first-child div.module {
  margin-right: 1px;
}
.rtl #yt_footer #yt_copyrightposition {
  padding: 30px 160px 35px 0px;
  background-position: right 55%;
}
.rtl .blog .items-leading .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog .items-leading .item .article-text .item-headinfo dl.article-info dd {
  float: right;
}
.rtl .blog .items-leading .item .article-text .item-headinfo dl.article-info dd.create i {
  margin: 0 1px 0 5px;
}
.rtl .blog .items-leading .item .article-text a.readmore {
  float: right;
}
.rtl .blog .items-leading .item .item-image {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl .blog .items-leading .item .btn-group > .btn:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rtl .blog .items-row .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog .items-row .item .article-text .item-headinfo dl.article-info dd {
  float: right;
}
.rtl .blog .items-row .item .article-text .item-headinfo dl.article-info dd.create i {
  margin: 0 1px 0 5px;
}
.rtl .blog .items-row .item .article-text a.readmore {
  float: right;
}
.rtl .blog .items-row .item .item-image {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl .blog .items-row .item .btn-group > .btn:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rtl div.pagination ul li.start {
  float: right;
}
.rtl div.pagination ul li.start a,
.rtl div.pagination ul li.start > span {
  float: right;
}
.rtl div.pagination ul li.start a:before,
.rtl div.pagination ul li.start > span:before {
  content: "\f054";
}
.rtl div.pagination ul li.prev {
  float: right;
}
.rtl div.pagination ul li.prev a,
.rtl div.pagination ul li.prev > span {
  float: right;
  border-right: none;
  border-left: 1px solid #ccc;
}
.rtl div.pagination ul li.prev a:hover {
  border-color: #2f67a8;
}
.rtl div.pagination ul li.next {
  float: left;
  margin: 3px 0 3px 25px;
}
.rtl div.pagination ul li.next a,
.rtl div.pagination ul li.next > span {
  float: left;
  border-left: none;
  border-right: 1px solid #ccc;
}
.rtl div.pagination ul li.next a:hover {
  border-color: #2f67a8;
}
.rtl div.pagination ul li.end {
  float: left;
  left: 0px;
  right: auto;
}
.rtl div.pagination ul li.end a,
.rtl div.pagination ul li.end > span {
  float: left;
}
.rtl div.pagination ul li.end a:before,
.rtl div.pagination ul li.end > span:before {
  content: "\f053";
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo dl.article-info dd {
  float: right;
}
.rtl .blog-featured .items-leading .item .article-text .item-headinfo dl.article-info dd.create i {
  margin: 0 1px 0 5px;
}
.rtl .blog-featured .items-leading .item .article-text a.readmore {
  float: right;
}
.rtl .blog-featured .items-leading .item .item-image {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl .blog-featured .items-leading .item .btn-group > .btn:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rtl .blog-featured .items-row  .item .article-text .item-headinfo ul.actions {
  float: left;
}
.rtl .blog-featured .items-row  .item .article-text .item-headinfo dl.article-info dd {
  float: right;
}
.rtl .blog-featured .items-row  .item .article-text .item-headinfo dl.article-info dd.create i {
  margin: 0 1px 0 5px;
}
.rtl .blog-featured .items-row  .item .article-text a.readmore {
  float: right;
}
.rtl .blog-featured .items-row  .item .item-image {
  float: right;
  margin: 0 0 20px 20px;
}
.rtl .blog-featured .items-row  .item .btn-group > .btn:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rtl .item-page .article-info ul.actions {
  float: left;
}
.rtl .item-page .article-info dl.article-info dd {
  float: right;
}
.rtl .item-page .article-info dl.article-info dd.create i {
  margin: 0 1px 0 5px;
}
.rtl .item-page .img-fulltext-left {
  float: left;
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext-right {
  float: right;
  margin: 0 1em 1em 0;
}
.rtl .item-page .btn-group > .btn:first-child {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.rtl .item-page ul.pagenav li.pagenav-prev {
  float: right;
}
.rtl .item-page ul.pagenav li.pagenav-prev a {
  border-left: 1px solid #CCCCCC;
  border-right: none;
}
.rtl .item-page ul.pagenav li.pagenav-prev a:before {
  content: "\f054";
  right: 0px;
  left: auto;
}
.rtl .item-page ul.pagenav li.pagenav-next {
  float: left;
}
.rtl .item-page ul.pagenav li.pagenav-next a {
  border-right: 1px solid #CCCCCC;
  border-left: none;
}
.rtl .item-page ul.pagenav li.pagenav-next a:before {
  content: "\f053";
  left: 0px;
  right: auto;
}
.rtl .item-page .social-custom .addthis_toolbox .addthis_default_style .addthis_separator,
.rtl .item-page .social-custom .addthis_toolbox .addthis_default_style .at300b,
.rtl .item-page .social-custom .addthis_toolbox .addthis_default_style .at300bo,
.rtl .item-page .social-custom .addthis_toolbox .addthis_default_style .at300m,
.rtl .item-page .social-custom .addthis_toolbox .addthis_default_style .at300bs {
  float: right;
}
.rtl .item-page ul.related-items li .relate-item .related-item-img {
  float: right;
  margin: 2px 0px 0 15px;
}
.rtl table.category thead tr th {
  text-align: right;
}
.rtl div.categories-list ul {
  padding: 0 15px 0 0;
}
.rtl div.categories-list ul ul > li:after,
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: -1px;
}
.rtl div.archive .filter-search button.button {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl div.archive .filter-search button.button:hover {
  background-color: #2f67a8;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search .search #searchForm .only input {
  float: right;
  margin: 4px 0 0 5px;
}
.rtl .search .button {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .search .button:hover {
  background-color: #2f67a8;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl .finder #search-form #finder-search button.button,
.rtl .finder #search-form #finder-search #advanced-search-toggle {
  padding: 5px 10px 5px 15px;
}
.rtl .finder #search-form #finder-search fieldset.word .button {
  background: #555 url("../images/rtl/conner.png") no-repeat 99.5% 1px;
}
.rtl .finder #search-form #finder-search fieldset.word .button:hover {
  background-color: #2f67a8;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 20px;
  right: auto;
}
.rtl.contentpane .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.rtl.contentpane .row-fluid .span4 {
  width: 31.6239%;
  float: right;
  margin: 0;
  margin-right: 2.12766%;
}
.rtl.contentpane .row-fluid .span3 {
  width: 23.0769%;
  float: right;
  margin: 0;
  margin-right: 2.12766%;
}
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-1,
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-2 {
  float: right;
}
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-1 .add-inner .add-mobile span:before,
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-1 .add-inner .add-email span:before,
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-2 .add-inner .add-mobile span:before,
.rtl div.contact .contact-miscinfo .contact-misc .contact-us .address .add-2 .add-inner .add-email span:before {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl div.contact .panel-form #contact-form dl.contact-field dd i {
  right: 0px;
  left: auto;
}
.rtl div.contact .panel-form #contact-form dl dd {
  margin: 0px;
}
.rtl div.contact .panel-form #contact-form dl dd button.button {
  margin-right: 105px;
  margin-left: 0px;
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl div.contact .panel-form #contact-form dl dd button.button:hover {
  background-color: #2f67a8;
}
.rtl .login .button,
.rtl .login a.btn,
.rtl .profile .button,
.rtl .profile a.btn,
.rtl .profile-edit .button,
.rtl .profile-edit a.btn,
.rtl .logout .button,
.rtl .logout a.btn,
.rtl .reset .button,
.rtl .reset a.btn,
.rtl .registration .form-horizontal .button,
.rtl .registration .form-horizontal a.btn {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .login .button:hover,
.rtl .login a.btn:hover,
.rtl .profile .button:hover,
.rtl .profile a.btn:hover,
.rtl .profile-edit .button:hover,
.rtl .profile-edit a.btn:hover,
.rtl .logout .button:hover,
.rtl .logout a.btn:hover,
.rtl .reset .button:hover,
.rtl .reset a.btn:hover,
.rtl .registration .form-horizontal .button:hover,
.rtl .registration .form-horizontal a.btn:hover {
  background-color: #2f67a8;
}
.rtl .remind button {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .remind button:hover {
  background-color: #2f67a8;
}
.rtl #xmap ul li:before {
  float: right;
}
.rtl #xmap ul li a:before,
.rtl #xmap ul li span:before {
  float: right;
}
.rtl #xmap ul li a:before,
.rtl #xmap ul li span:before {
  margin: 0 0 0 5px;
  content: "\f104";
}
.rtl div.modal.fade.in .show-box .sj_box_content form label > a,
.rtl div.modal.fade.in .show-box .sj_box_content form label span {
  float: right;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form label input,
.rtl div.modal.fade.in .show-box .sj_box_content form label input:focus,
.rtl div.modal.fade.in .show-box .sj_box_content form label input:active {
  float: right;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .login_input {
  float: right;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .login_input label span {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .login_input label input {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .login_button {
  float: right;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .login_button #form_login_remember input {
  float: right;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#login_form .more_login ul li a i {
  float: right;
  margin: 3px 0px 0 10px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#member_registration label {
  margin-bottom: 10px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#member_registration label span {
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}
.rtl div.modal.fade.in .show-box .sj_box_content form#member_registration label input {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.rtl span.lbl_icon {
  -webkit-border-radius: 0px 5px 5px 0px !important;
  -moz-border-radius: 0px 5px 5px 0px !important;
  border-radius: 0px 5px 5px 0px !important;
}
.rtl label.select-mask:after {
  right: auto;
  left: 6px;
}
.rtl label.select-mask:before {
  right: auto;
  left: 1px;
}
.rtl .jshop input.button {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .jshop input.button:hover {
  background-color: #2f67a8;
}
.rtl .jshop table tr#checkout td.td_1 {
  text-align: right;
}
.rtl .jshop table tr#checkout td.td_1 a:before {
  margin-right: 0px;
  margin-left: 5px;
  float: right;
  content: "\f061";
}
.rtl .jshop table tr#checkout td.td_2 {
  text-align: left;
}
.rtl .jshop table tr#checkout td.td_2 a:before {
  margin-right: 5px;
  margin-left: 0px;
  float: left;
  content: "\f060";
}
.rtl .jshop .cart .product_name {
  text-align: right;
}
.rtl .jshop #table_shippings label {
  direction: ltr;
}
.rtl .jshop .jshop-infocustomer span strong {
  display: inline-block;
}
.rtl .jshop table.orders td.ord-status {
  text-align: left;
}
.rtl .jshop table.orders table.table_order_list td {
  text-align: right;
}
.rtl .jshop table.orders table.table_order_list td.detail-order {
  text-align: right !important;
}
.rtl .jshop.detail-order .downlod_order_invoice {
  float: left !important;
}
.rtl .jshop.detail-order table.cart tr td.product_name {
  text-align: center;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .layout-type {
  float: right;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .layout-type a.sort_grid {
  margin: 0 10px 0 0;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_count_to_page {
  float: right;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_count_to_page .select-mask {
  margin: 0px 10px 0 5px;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_sorting {
  float: left;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_sorting .select-mask {
  margin: 0px 10px 0 2px;
  float: right;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_sorting span.first {
  float: right;
}
.rtl .jshop .jshop_list_product form#sort_count .block_sorting_count_to_page .box_products_sorting span.btn_sortting {
  float: left;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .title-cate i {
  margin: 0 0 0 5px;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy .ico-cart {
  float: right;
  border-left: 1px solid #767676;
  border-right: none;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy span {
  float: right;
  border-right: 1px solid #3d3d3d;
  border-left: none;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy:hover {
  background-color: #2f67a8;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy:hover span {
  border-color: #244f80;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner div.buttons a.button_buy:hover .ico-cart {
  border-color: #4080ca;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column .product .inner .rate-comment .count_commentar {
  float: left;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column.span12 .product .block-gird-info .jshop_price {
  margin-left: 10px;
  margin-right: 0px;
}
.rtl .jshop .jshop_list_product .list_product .sj-row .sj-column.span12 .product .image {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .jshop.productfull .productdetails .jshop-video-image .yt-carousel {
  direction: ltr;
}
.rtl .jshop.productfull .productdetails .pro-info .review-hits .hits i {
  margin: 0 0 0 3px;
}
.rtl .jshop.productfull .productdetails .pro-info .review-rating .pro-rating {
  float: right;
}
.rtl .jshop.productfull .productdetails .pro-info .review-rating .lbl-rating {
  float: right;
  display: none;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .pro-quantity {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .pro-quantity .prod_qty_input input {
  border: none;
  text-align: center;
  margin: 0px;
  padding: 4px 0;
  color: #2f67a8;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .pro-quantity .prod_qty_input input:focus {
  box-shadow: none;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart .ico-cart {
  float: right;
  border-left: 1px solid #767676;
  border-right: none;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart span {
  float: right;
  border-right: 1px solid #3d3d3d;
  border-left: none;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart:hover {
  background-color: #2f67a8;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart:hover span {
  border-color: #244f80;
}
.rtl .jshop.productfull .productdetails .pro-info .prod_buttons .buttons .btn-cart:hover .ico-cart {
  border-color: #4080ca;
}
.rtl .jshop.productfull .productdetails .pro-more-info #tabs-pro ul.tab-title {
  padding-left: 0px;
  padding-right: 6px;
}
.rtl .jshop.productfull .productdetails .pro-more-info #tabs-pro ul.tab-title li {
  float: right;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.rating-cancel,
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating {
  float: right;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.rating-cancel {
  width: 16px;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write .star-rating-control {
  display: block;
  overflow: hidden;
  margin: 0 0 20px;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating,
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating a {
  background-image: url("../images/star.png");
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating.even a {
  background-position: 8px 0px !important;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating-on.even a {
  background-position: 8px -16px !important;
}
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating-hover.even,
.rtl .jshop.productfull .productdetails .pro-more-info #jshop_review_write div.star-rating-hover.even a {
  background-position: 8px -32px !important;
}
.rtl .jshop.productfull .productdetails .pro-more-info .pro-other-info .jshop-manuafacture .manufacturer_logo {
  float: right;
  margin: 0 0px 20px 20px;
}
.rtl .mod-finder-searchform-custom {
  float: right;
}
.rtl #mod-finder-searchform input.inputbox {
  border: 1px solid #ccc;
  border-left: none;
}
.rtl .res-mod-finder button.btn-search i {
  margin-left: 0px;
  margin-right: 4px;
}
.rtl .res-mod-finder .dropdown-search {
  right: auto;
  left: 0px;
}
.rtl .res-mod-finder .dropdown-search #mod-finder-searchform button.button {
  right: auto;
  left: 10px;
}
.rtl #jshop_module_cart .res-jshop-cart .drop-cart {
  left: 0px;
  right: auto;
}
.rtl div#breadcrumb ul.breadcrumb li span.divider {
  background-image: url("../images/rtl/breadcrumb_separate.png");
  direction: rtl;
}
.rtl div#breadcrumb ul.breadcrumb li i {
  margin: 0 0px 0 5px;
}
.rtl div#breadcrumb ul.breadcrumb li h3 {
  float: right;
  margin: 0 0px 0 30px;
}
.rtl div#breadcrumb ul.breadcrumb li a,
.rtl div#breadcrumb ul.breadcrumb li span {
  display: inline-block;
  direction: ltr;
}
.rtl div.module.who-online .modcontent .online i {
  float: right;
  margin-left: 15px;
  margin-right: 0px;
}
.rtl .module h3.modtitle {
  direction: ltr;
  text-align: right;
}
.rtl div._menu .modcontent ul.menu li:hover {
  padding-right: 5px;
  padding-left: 0px;
}
.rtl div._menu .modcontent ul.menu li > a:before,
.rtl div._menu .modcontent ul.menu li > .separator:before {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}
.rtl div.suffix-badge h3.modtitle span.badge {
  left: 0px;
  right: auto;
}
.rtl div.suffix-icon h3.modtitle {
  padding-left: 0px;
  padding-right: 30px;
  direction: ltr;
  text-align: right;
}
.rtl div.suffix-icon h3.modtitle:before {
  left: auto;
  right: 0px;
}
.rtl div.suffix-icon div.modcontent {
  padding: 5px 30px 15px 10px;
}
.rtl .module[class*="bg-color"] h3.modtitle,
.rtl .module.title4 h3.modtitle {
  text-align: center;
}
.rtl .module[class*="badge"] h3.modtitle {
  text-align: center;
}
.rtl .module[class*="badge"] h3.modtitle span.badge {
  background-position: right 0;
  left: auto;
  right: 0px;
}
.rtl .module.badge-hot[class*="badge"] h3.modtitle span.badge {
  background-position: right -306px;
}
.rtl .module.badge-best[class*="badge"] h3.modtitle span.badge {
  background-position: right -205px;
}
.rtl .module.badge-top[class*="badge"] h3.modtitle span.badge {
  background-position: right 0px;
}
.rtl .module.badge-new[class*="badge"] h3.modtitle span.badge {
  background-position: right -102px;
}
.rtl .module.style-icon {
  padding-left: 0px;
  padding-right: 125px;
}
.rtl .module.style-icon h3.modtitle [class^="icon-"],
.rtl .module.style-icon h3.modtitle [class*=" icon-"] {
  left: auto;
  right: -125px;
}
.rtl ul._menutop {
  text-align: left;
}
.rtl div.img-top {
  float: right;
  margin: 0 0 0 15px;
}
.rtl ul.social,
.rtl .social-us {
  float: left;
}
.rtl a.readon:after {
  content: "\f0d9";
}
.rtl a.readon:hover {
  padding: 0 10px 0 0;
}
.rtl .readmore:before {
  right: 0px;
  left: auto;
}
.rtl .social .follow {
  float: left;
}
.rtl .social .follow label {
  float: right;
}
.rtl .social .follow ul {
  float: right;
  margin: 0 15px 0 0;
}
.rtl .social .follow ul li a {
  padding-left: 0px;
  padding-right: 5px;
}
.rtl div.module.newsletter-sub .newsletter div.title i {
  margin: 3px 0 0 8px;
  float: right;
}
.rtl div.module.newsletter-sub .newsletter div.content-news input.inputbox,
.rtl div.module.newsletter-sub .newsletter div.content-news a.button {
  float: right;
}
.rtl div.free-shipping .shipping {
  padding: 10px 125px 10px 10px;
}
.rtl div.free-shipping .shipping i.icon-truck {
  left: auto;
  right: 0px;
}
.rtl div.free-shipping .shipping ul li {
  float: right;
}
.rtl div.free-shipping .shipping ul li.first {
  margin-left: 4px;
  margin-right: 0px;
}
.rtl div.module.style-icon._menufoot h3.modtitle {
  padding: 10px 50px 10px 0px;
}
.rtl div.module.style-icon._menufoot h3.modtitle [class^="icon-"],
.rtl div.module.style-icon._menufoot h3.modtitle [class*=" icon-"] {
  left: auto;
  right: 0px;
}
.rtl div.module.style-icon._menufoot div.modcontent ul.menu li:before {
  float: right;
  margin-left: 7px;
  margin-right: 0px;
}
.rtl div.module.style-icon._menufoot div.modcontent ul.menu li:hover,
.rtl div.module.style-icon._menufoot div.modcontent ul.menu li:active {
  padding-left: 10px;
  padding-right: 5px;
}
.rtl div.module.style-icon.contact-social {
  padding: 25px 20px 20px !important;
  margin: 0px;
  background: none;
}
.rtl div.module.style-icon.contact-social h3.modtitle {
  padding: 10px 50px 10px 0px;
}
.rtl div.module.style-icon.contact-social h3.modtitle [class*=" icon-"],
.rtl div.module.style-icon.contact-social h3.modtitle [class^="icon-"] {
  left: auto;
  right: 0px;
}
.rtl div.module.style-icon.contact-social .contact-list ul li {
  padding: 5px 27px 10px 0px;
}
.rtl div.module.style-icon.contact-social .contact-list ul li i {
  margin-left: 0px;
  margin-right: -27px;
  float: right;
}
.rtl div.module.style-icon.contact-social .contact-list ul li i:before {
  text-align: right;
}
.rtl div.bigsale .info {
  left: auto;
  right: 0px;
}
.rtl div.mega-module .shop-golf {
  padding-right: 0px;
  padding-left: 5px;
}
.rtl div.mega-module .shop-golf ul.menu-golf li a:before {
  float: right;
  margin: 0 -15px 0 0px;
}
.rtl div.mega-module.extra-theme2 {
  margin: 20px 30px 20px 20px !important;
}
.rtl div.mega-module.extra-theme2 .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}
.rtl div.mega-module.extra-theme2 .sj-extraslider .extraslider-control {
  left: 0px;
  right: auto;
}
.rtl div.mega-module.extra-theme2 .sj-extraslider .extraslider-control .button-next i:before {
  content: "\f0a8";
}
.rtl div.mega-module.extra-theme2 .sj-extraslider .extraslider-control .button-prev i:before {
  content: "\f0a9";
}
.rtl div.mega-module.extra-theme3 {
  margin: 20px 20px 20px 0px !important;
  border-right: none;
  border-left: 1px solid #CCCCCC;
}
.rtl div.mega-module.extra-theme3 .sj-extraslider .extraslider-inner .item .line .item-wrap .item-image {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
}
.rtl div.mega-module.extra-theme3 .sj-extraslider .extraslider-control {
  left: 0px;
  right: auto;
}
.rtl div.mega-module.extra-theme3 .sj-extraslider .extraslider-control .button-next i:before {
  content: "\f0a8";
}
.rtl div.mega-module.extra-theme3 .sj-extraslider .extraslider-control .button-prev i:before {
  content: "\f0a9";
}
.rtl div.mega-module.best-seller {
  margin: 20px 20px 20px 5px !important;
  border-right: none;
  border-left: 1px solid #CCCCCC;
}
.rtl div.mega-module.best-seller .bestseller_products .block_item .item_image {
  float: right;
  margin: 4px 0px 0 20px;
}
.rtl div.mega-module.sj-video-theme2 {
  border-right: none;
  border-left: 1px solid #ccc;
}
.rtl div.mega-module.sj-video-theme2 .sj-videobox .sj-video-current .video-inner {
  float: right;
  margin: 6px 0px 20px 20px;
}
.rtl div.mega-module.sj-video-theme2 .sj-videobox .sj-video-list .sj-video-list-item .sj-video-title {
  padding: 0 20px 0 0px;
}
.rtl div.mega-module.sj-video-theme2 .sj-videobox .sj-video-list .sj-video-list-item .sj-video-title:before {
  margin: 0 0px 0 0px;
  left: auto;
  right: 0px;
}
.rtl #jshop_module_cart {
  float: right;
  margin: 0 10px 0 0;
}
.rtl #jshop_module_cart .des-jshop-cart a {
  float: right;
}
.rtl #jshop_module_cart .number-pro {
  margin: 4px 0 0 9px;
  float: left;
}
.rtl #jshop_module_cart a span.ico-cart {
  float: right;
  margin: 0px;
}
.rtl #jshop_module_cart .des-jshop-cart a span.ico-cart {
  float: right;
  margin: 0px 0 0 10px;
}
.rtl .jshop_menu_level_0:hover {
  padding-left: 5px;
}
.rtl .jshop_menu_level_0 a:before,
.rtl .jshop_menu_level_0_a a:before {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}
.rtl .sj-news-scroller .news-scroller {
  direction: ltr;
}
.rtl .sj-news-scroller .news-scroller .scroller-container .iviewSlider .iview-caption {
  right: 30% !important;
  left: auto !important;
}
.rtl .sj-news-scroller .news-scroller .scroller-container .iviewSlider .iview-caption a {
  margin: 5px 20px 5px 50px;
}
.rtl .sj-news-scroller .news-scroller .scroller-container .iviewSlider .iview-caption .caption-contain a.ns-item-title:after,
.rtl .sj-news-scroller .news-scroller .scroller-container .iviewSlider .iview-caption .caption-contain a:after {
  right: auto;
  left: 15px;
  background: url("../images/rtl/icon-arrow.png") no-repeat right bottom;
}
.rtl .sj-news-scroller .news-scroller .scroller-container .iviewSlider .iview-caption .caption-contain a:hover:after {
  background: url(../images/blue/icon-arrow-rtl.png) no-repeat right bottom;
}
.rtl div.sj-content-slider .container-slider-content {
  direction: ltr;
}
.rtl div.sj-content-slider .container-slider-content .control-button {
  margin: 0px;
}
.rtl div.bsn-wrap .post .bsn-image {
  float: right;
  margin: 6px 0px 0 20px;
}
.rtl .basic-theme1.module.title1[class*="badge"] h3.modtitle span.badge {
  right: -1px;
  left: auto;
}
.rtl .basic-theme1.module.title1[class*="badge"] div.bsn-wrap .post .bsn-image {
  margin: 6px 0px 0 15px;
  float: right;
}
.rtl .lastest-products div.products-wrap .content-box .product .title-cate i {
  margin-left: 5px;
  margin-right: 5px;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .image_block .item_label {
  right: 3px;
  left: auto;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .item-rate-comment .count_commentar {
  float: left;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart .ico-cart {
  float: right;
  border-left: 1px solid #767676;
  border-right: none;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart span {
  float: right;
  border-right: 1px solid #3d3d3d;
  border-left: none;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart:hover {
  background-color: #2f67a8;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart:hover span {
  border-color: #244f80;
}
.rtl .lastest-products div.products-wrap .content-box .product .product-inner .inner .btn-cart:hover .ico-cart {
  border-color: #4080ca;
}
.rtl div.frontpage.theme3 .big-item-wrap .big-item-container {
  padding-left: 10px;
  padding-right: 0px;
}
.rtl div.frontpage.theme3 .big-item-wrap .big-item-container .big-item-image {
  float: right;
  margin-right: 0px;
  margin-left: 30px;
}
.rtl div.frontpage.theme3 .big-item-wrap .big-item-container .big-item-datetime i.icon-time {
  float: right;
  margin: 4px 0 0 5px;
}
.rtl div.frontpage.theme3 .big-item-wrap .big-item-container .big-item-readmore a:after {
  content: "\f0a8";
}
.rtl div.frontpage.theme3 .small-item-list .small-items-container .small-item-wrap.column-2 {
  float: right;
  margin-right: 0px;
  margin-left: 2%;
}
.rtl div.frontpage.theme3 .small-item-list .small-items-container .small-item-wrap.item-last {
  margin-left: 0px;
  clear: left;
}
.rtl div.frontpage.theme3 .small-item-list .small-items-container .small-item-wrap .small-item-title {
  margin-left: 0px;
  margin-right: 10px;
}
.rtl div.frontpage.theme3 .small-item-list .small-items-container .small-item-wrap .small-item-title a i.icon-circle {
  margin: 4px 0 0 12px;
  float: right;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .big-item-wrap {
  float: right;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .big-item-wrap .big-item-image {
  float: right;
  margin-right: 1px;
  margin-left: 30px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .big-item-wrap .big-item-datetime i.icon-time {
  float: right;
  margin: 4px 0 0 5px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .big-item-wrap .big-item-readmore a:after {
  background-image: url("../images/rtl/icon-arrow.png");
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list {
  float: right;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container {
  border-left: none;
  border-right: 1px solid #ddd;
  border-color: rgba(255,255,255,0.2);
  padding-left: 0px;
  padding-right: 20px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container .small-item-wrap {
  margin: 0 0 5px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container .small-item-wrap.item-last {
  margin: 0px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container .small-item-wrap .small-item-image {
  display: none;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container .small-item-wrap .small-item-title a {
  padding-left: 0px;
  padding-right: 25px;
}
.rtl div.sj-frontpage.title4 div.frontpage.theme1 .small-item-list .small-items-container .small-item-wrap .small-item-title a i.icon-circle {
  margin: 5px -25px 0 0px;
  float: right;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-public {
  text-align: right;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-public i {
  margin-left: 5px;
  margin-right: 0px;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .item-rate-comment .item_count_commentar {
  float: left;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart {
  background: #555 url("../images/rtl/conner.png") no-repeat 99% 1px;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart .ico-cart {
  float: right;
  border-left: 1px solid #767676;
  border-right: none;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart span {
  float: right;
  border-right: 1px solid #3d3d3d;
  border-left: none;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart:hover {
  background-color: #2f67a8;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart:hover span {
  border-color: #244f80;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-items.grid .respl-item .item-inner .item-intro .item-intro-inner .btn-cart:hover .ico-cart {
  border-color: #4080ca;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-btn a {
  direction: ltr;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-btn a .loader-image {
  float: right;
  margin-left: 5px;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-btn a .loader-label {
  padding-right: 0px;
  padding-left: 15px;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-btn a .loader-label:after {
  content: "\f104";
  left: 20px;
  right: auto;
}
.rtl div.responsive-listing .sj-responsive-listing .respl-wrap .respl-btn a:hover .loader-label:after {
  right: auto;
  left: 15px;
}
.rtl .sj-categories-slider .container-slider {
  direction: ltr;
}
.rtl .sj-categories-slider .container-slider .page-button .control-button {
  margin: 0px;
}
.rtl .sj-categories-slider .container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner .item-content {
  left: auto;
  right: 0px;
}
.rtl .sj-categories-slider .container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner .item-content .item-read a {
  padding: 6px 15px 6px 40px;
}
.rtl .sj-categories-slider .container-slider .slider .vpo-wrap .vp .item .item-wrap .item-info.item-spotlight .item-inner .item-content .item-read a:after {
  content: "\f0a8";
  right: auto;
  left: 15px;
  margin: 0 10px 0 0px;
}
.rtl div.extra-theme1 div.sj-extraslider .extraslider-inner .item .line .item-info .item-content .item-description {
  text-align: right;
}
.rtl div.extra-theme1 div.sj-extraslider .extraslider-control .button-next i:before {
  content: "\f0a8";
}
.rtl div.extra-theme1 div.sj-extraslider .extraslider-control .button-prev i:before {
  content: "\f0a9";
}
.rtl div.extra-theme1 div.sj-extraslider .extraslider-control .button-next i:before {
  content: "\f0a8";
}
.rtl .stars_no_active,
.rtl .stars_active {
  background-position: right 0px;
}
.rtl .stars_active {
  background-position: right -16px;
}
@media (min-resolution: .001dpcm) {
  _:-o-prefocus,
  .rtl .modtitle:before {
    margin: 0 10px 0 0;
  }
}
